{% extends "base.html" %}
<title>{{ current_user.username }}'s Task</title>
{% block page_content %}
    <div align="center">
        <h3>距离</h3>
        <h4>{{ task_name }}</h4>
        <h3><span style="font-size:60px">{{ day_dis }}</span></h3>
        <h4>{{ task_date }}</h4>
        {% for detail in task_detail %}
        <p>{{ detail }}</p>
        {% endfor %}
        <a class="btn btn-default btn-sm" href="{{ url_for('main.edit_task', Tname=task_name) }}">编辑</a>
        <a class="btn btn-default btn-sm" href="{{ url_for('main.delete_task', Tname=task_name) }}">删除</a>
        <a class="btn btn-default btn-sm" href="{{ url_for('main.task_list') }}">返回</a>
    </div>
{% endblock %}

