alembic==0.9.3
arrow==0.10.0
backports-abc==0.5
BareNecessities==0.2.8
beautifulsoup4==4.6.0
bleach==3.3.0
blinker==1.4
certifi==2017.4.17
chardet==3.0.4
click==6.7
dateparser==0.6.0
dominate==2.3.1
Flask>=1.0.0
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.4
Flask-Moment==0.5.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
greenlet==0.4.12
gunicorn==19.7.1
html5lib==1.0b10
idna==2.5
itsdangerous==0.24
Jinja2==2.10.1
livereload==2.5.1
Mail==2.1.0
Mako==1.0.7
Markdown==2.6.8
MarkupSafe==1.0
olefile==0.44
Pillow>=6.2.0
psycopg2==2.7.3
PyMySQL==0.7.11
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.2
regex==2017.7.11
requests==2.20.0
ruamel.yaml==0.15.19
selenium==3.4.3
send-email==201212
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.2.0b1
times==0.7
tornado==4.5.1
tzlocal==1.4
urllib3==1.24.2
visitor==0.1.3
webencodings==0.5.1
Werkzeug==0.15.3
WTForms==2.1
